#behind-fences.page
#after-the-fences.page
#tear-down-the-fences.page
  include ./timeline
#about.page
  h1
    a#about-open(href='#about')= aboutPage.aboutLink
  h1
    a(href=githubHref, target='_blank', rel='noopener noreferrer')= aboutPage.contributeLink
  h1
    a(href=contactHref)= aboutPage.contactLink
  dialog#about-dialog.fixed
    h2= aboutPage.aboutLink
    p= description
    p= aboutPage.aboutText
    p !{aboutPage.aboutTextCredits}
  section#copyright
    p= copyrightNotice
